/* Last updated: 2023-06-19T1140 (2019-12-21) */
html {
	color: green;
	background-color: black;
	font-size: medium;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

img {
	border-left-color: black;
	border-bottom-color: black;
	border-top-color: black;
	border-right-color: black;
}

a {
	color: orange;
}